# Unique Column Combinations

This example illustrates the usage of `exact` Unique Column Combinations (UCC).

An exact UCC declares that some columns uniquely identify every tuple in a table.

For more information consult:

```
A Hybrid Approach for Efficient Unique Column Combination Discovery,
        by T. Papenbrock and F. Naumann.
````

# Install dependencies

In [ ]:
!pip install desbordante==2.3.2
!pip install pandas

Requirement already satisfied: desbordante==2.3.2 in /usr/local/lib/python3.11/dist-packages (2.3.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## Import python libraries

In [ ]:
import desbordante as db
import pandas as pd

## Exact Unique Columnb Combinations

Let's explore example of discovering exact UCC.

## Get sample dataset

In [ ]:
!wget -q https://raw.githubusercontent.com/Desbordante/desbordante-core/main/examples/datasets/ucc_datasets/ucc.csv

The following table contains records about employees

In [ ]:
pd.read_csv('ucc.csv')

  First_name Last_name  Grade  Salary  Work_experience
0       Mark    Harris      7    1150               12
1      Joyce    Harris      2    1100                5
2      Harry   Roberts      3    1000                7
3      Grace     Brown      4     900               12
4      Harry    Walker      4    1000                5
5     Samuel     Brown      1     900                9
6      Nancy     Adams      2    1000                3

We need to select a column or a combination of columns that will serve as a unique key (ID). This is straightforward: just run a UCC mining algorithm.

In [ ]:
algo = db.ucc.algorithms.Default()
algo.load_data(table=("ucc.csv", ',', True))
algo.execute()
uccs = algo.get_uccs()

The algorithm finds the following UCCs:

In [ ]:
for ucc in uccs:
    print(ucc.to_long_string())

[First_name Last_name]
[First_name Grade]
[Last_name Grade]
[Grade Salary]
[First_name Work_experience]
[Last_name Work_experience]
[Grade Work_experience]
[Salary Work_experience]

As you can see, there are no unary UCCs, so there is no single column that can define a key. We need to select a combination of two columns, that will serve as an ID.

For example, `[First_name Last_name]` is a good candidate.